<div class="row">
  <table id="datatable_all" class="table table-striped table-bordered">
    <thead>
  	  <tr>
  	    <th><%= GeneSearch.human_attribute_name(:gene_id) %></th>
  	  </tr>
    </thead>
    <tbody>
  		<% gene_search.results.each do |gene| %>
  		  <tr>
  		    <td>
  		    	<%= link_to gene.symbol, gene_path(gene.gene_id) %>
  		    </td>
  		  </tr>
  		<% end %>
    </tbody>
  </table>
</div>
