<div class="row">
  <div class="col">
    <%= render(
      partial: 'layouts/one_box_query',
      locals: {
        target: @gene_search,
        selection_url: gene_selections_path,
        quick_help_text: 'Query for gene(s) by symbol. e.g. <code>NRXN1</code>',
        query_history_url: gene_searches_path,
        saved_queries_url: saved_gene_searches_path,
        advanced_query_url: new_gene_search_path,
        has_one_box_help: false,
        default_criteria: [],
      }
    ) %>
  </div>
</div>