<div class="row">
  <div class="col">
    <h1><%= dt("#{controller_name}.#{action_name}.title", model: dt("#{controller_name}.#{action_name}.model"), instance: @subject_sample_search.name) %></h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= render 'form' %>
  </div>
</div>
