<div class="row">
  <div class="col">
    <%= render(
      partial: 'layouts/one_box_query',
      locals: {
        target: @subject_sample_search,
        selection_url: nil,
        quick_help_text: 'Query for subjects(s) by ID, e.g. <code>1-0004-001;1-0004-002</code>',
        query_history_url: subject_sample_searches_path,
        saved_queries_url: saved_subject_sample_searches_path,
        advanced_query_url: new_subject_sample_search_path,
        has_one_box_help: false,
        default_criteria: [],
      }
    ) %>
  </div>
</div>