<div class="row">
  <div class="col">
    <h1 class="title"><%= dt("#{controller_name}.#{action_name}.title", model: dt("#{controller_name}.#{action_name}.model"), instance: @variant_search.name).html_safe %></h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= render 'form' %>
  </div>
</div>
