<div class="row">
  <div class="col">
    <h1 class="title"><%= dt("#{controller_name}.#{action_name}.title", model: dt("#{controller_name}.#{action_name}.model")) %></h1>
  </div>
</div>

<%= render 'form' %>