<link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">

<h1 class="title">How to Cite MSSNG</h1>

<blockquote>
"The authors wish to acknowledge the resources of <%= link_to "MSSNG (www.mss.ng)", "https://www.mss.ng/", target: "_blank" %>, <%= link_to "Autism Speaks", "https://www.autismspeaks.org/", target: "_blank" %> and <%= link_to "The Centre for Applied Genomics", "http://tcag.ca/", target: "_blank" %> at <%= link_to "The Hospital for Sick Children", "https://www.sickkids.ca/", target: "_blank" %>, Toronto, Canada. We also thank the participating families for their time and contributions to this database, as well as the generosity of the donors who supported this program."
</blockquote>

<style>
blockquote{
  font-family: 'PT Serif', serif;
  font-size: 1.25em;
  line-height: 1.5em;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 20px;
  border: 1px solid #ddd;
  padding: 60px 40px;
}
</style>
