<h3>How to Cite MSSNG</h3>
<h4>
"The authors wish to acknowledge the resources of <%= link_to "MSSNG (www.mss.ng)", "https://www.mss.ng/", target: "_blank" %>, <%= link_to "Autism Speaks", "https://www.autismspeaks.org/", target: "_blank" %> and <%= link_to "The Centre for Applied Genomics", "http://tcag.ca/", target: "_blank" %> at <%= link_to "The Hospital for Sick Children", "https://www.sickkids.ca/", target: "_blank" %>, Toronto, Canada. We also thank the participating families for their time and contributions to this database, as well as the generosity of the donors who supported this program."
</h4>
