<h1 style="font-weight: 700">Sorry, Temporarily Unavailable</h1>
<p>We are making some adjustments, but will be back shortly.</p>
<p>Feel free to <%= mail_to ENV['SUPPORT_EMAIL_ADDRESS'], "contact us" %>.</p>