<div class="row">
  <div class="col">
    <div class="one-box-query-container">
      <%= render(
        partial: 'layouts/one_box_query',
        locals: {
          target: @trio,
          selection_url: nil,
          quick_help_text: 'Please enter one subject ID, e.g., 1-0627-004',
          query_history_url: trios_path,
          saved_queries_url: saved_trios_path,
          advanced_query_url: new_trio_path,
          has_one_box_help: false,
          default_criteria: [:passing, :frequency, :frequency_operator],
        }
      ) %>

      <div class="help">
        <h2>What Can You Do?</h2>
        <p>
          With the one box query, you can quickly make a query for Family (Trio) with subject ID, e.g., <code>1-0627-004</code>.
        </p>

        <h2>The Default Criteria</h2>

        <p>
          When you use the One Box Query, here is the default criteria.
        </p>

        <dl class="row dl-kv">
          <dt class="col-6">Variant quality</dt>
          <dd class="col-6">Passing</dd>
          <dt class="col-6">Control Database Frequency</dt>
          <dd class="col-6"><= 0.05</dd>
          <dt class="col-6">Damage Potential</dt>
          <dd class="col-6">High or Medium</dd>
        </dl>

        <p>Use the Advanced Query for alternative query parameters.</p>
      </div>
    </div>
  </div>
</div>
