<div class="row">
  <div class="col">
    <h1><%= dt("#{controller_name}.#{action_name}.title", model: dt("#{controller_name}.#{action_name}.model"), instance: @subject_sample.submittedid) %></h1>
  </div>
</div>
<%= render partial: "subject_sample", locals: { subject_sample: @subject_sample } %>
<div class="row">
  <div class="col form-actions">
		<%= link_to dt('actions.back'), :back, class: 'btn btn-primary' %>
  </div>
</div>
